@font-face {
    font-family: 'Inter UI';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/Inter-UI-Regular.woff2') format('woff2'),
         url('/assets/fonts/Inter-UI-Regular.woff') format('woff'),
         url('/assets/fonts/Inter-UI-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Inter UI';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/Inter-UI-Bold.woff2') format('woff2'),
         url('/assets/fonts/Inter-UI-Bold.woff') format('woff'),
         url('/assets/fonts/Inter-UI-Bold.ttf') format('truetype')
}


/* responsive font scaling */
html {
    font-family: Inter UI;
    font-size: 10px;
    letter-spacing: 0.5px;
    
}

@media (min-width: 960px) {
    html {
        font-size: 8px;
    }
}

.test {
    display: flex;
    flex-direction: row;
}

::placeholder {
    color: gray;
}